<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    <a class="navbar-brand" href="#">Secure Commerce</a>
    <div class=" navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/products" routerLinkActive="active"
            >Products</a
          >
        </li>
      </ul>
      <div class="cart-icon">
        <a routerLink="/cart">
          <i class="bi bi-cart"></i> Cart ({{ cartItemCount }})
        </a>
      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>
</div>
